.header {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  border: 1px solid #efefef;
  background: white;
  padding: 8px;
  position: sticky;
  top: 0;
  .submit {
    button {
      background: gray;
      color: #fff;
      border: 1px solid #eee;
      border-radius: 20px;
      box-shadow: 5px 5px 5px #eee;
      text-shadow: none;
      padding: 8px;
    }
    button:hover {
      background: white;
      color: black;
      border: 1px solid #eee;
      border-radius: 20px;
      box-shadow: 5px 5px 5px #eee;
      text-shadow: none;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    .user-name {
      padding-left: 8px;
    }
    .user-image {
      img {
        width: 52px;
        height: 52px;
        border-radius: 25px;
      }
    }
  }
  .form {
    display: flex;
    align-items: center;
    .select {
      margin-left: 24px;
    }
    .form-bg {
      width: 252px;
      display: flex;
      align-items: center;
      border-radius: 8px;
      background: #efefef;
    }
    img {
      padding-left: 12px;
    }
    input {
      padding-left: 10px;
      outline: none;
      flex: 1;
      height: 36px;
      background: transparent;
      font-weight: 400;
      font-size: 16px;
      border: none;
    }
  }
}
select {
  width: 80%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 1000%);
  margin-top: 8px;
}
